* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Radley', sans-serif;
}

:root {
    --background-home: #e3ecd073;
    --text-fin: #15803d;
    --text-track: #0f4331;
    --text-primary: #000000;
    --text-secondary: #e8ecdf;
    --semantic-error: #DC2626;
}